################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/bin/Debug
/build
/toolchain/Windows/run.bat
/toolchain/Windows/run-makefile.bat
/toolchain/Windows/run-clean.bat
/toolchain/Debian/run.sh
/toolchain/Debian/run-makefile.sh
/toolchain/Debian/run-clean.sh
/Project Solution.sln
/testbench/tools/llvm-objdump.exe
/testbench/tools/llvm-link.exe
/testbench/tools/llc.exe
/testbench/tools/flasm.exe
/testbench/tools/clang.exe
/testbench/tools/llvm-mc.exe
/testbench_c/tools/llvm-objdump.exe
/testbench_c/tools/llvm-mc.exe
/testbench_c/tools/llvm-link.exe
/testbench_c/tools/llc.exe
/testbench_c/tools/flasm.exe
/testbench_c/tools/clang.exe
/testbench_rust/tools/llvm-objdump.exe
/testbench_rust/tools/llvm-mc.exe
/testbench_rust/tools/llvm-link.exe
/testbench_rust/tools/llc.exe
